@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Fragment Mono', monospace;
    overflow: hidden;
}

html {
    background: url(../images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.gameboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cell{
    width: 220px;
    height: 220px;
    line-height: 75px;
    font-size: 100px;
    cursor: pointer;
    text-align: center;
    line-height: 200px;
}

.cell-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 660px;
    margin-left: 32%;
    margin-top: 7.5%;
}

.tomato {
    background:url(../images/tomato.png) 0 0 no-repeat;
    display: block;
    height:200px; /* your image height */
    text-indent:-99999em;
    width:200px; /* your image width */
    overflow:hidden;
}

.flower {
    background:url(../images/flower.png) 0 0 no-repeat;
    display:block;
    height:220px; /* your image height */
    text-indent:-99999em;
    width:220px; /* your image width */
    overflow:hidden;
}

.flexCont {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#restartBtn {
    margin-top: 0.5rem;
    width: 100px;
    background-color: transparent;
    color: white;
    font-family: 'Fragment Mono', monospace;
    font-size: 1rem;
    cursor: pointer;
}

#statusText {
    color: greenyellow;
}
